*{
  margin: 0;
  padding: 0;
}


header{
  text-align: center;

}

.sectionA{
  margin: 20px;
  padding: 45px;
  display: flex;
  border: 2px solid red;
  width: 25%;
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


